/* You can add global styles to this file, and also import other style files */
@import "~bootstrap";

p {
    padding-left: 18px;
    font-size: 50px;
}

h1 {
    text-align: center;
}

body {
    background-color: #e9ecef;

}





