html {
    background-color: darkgray;
}
    /* 
     TADY ZAČÍNÁ BODY 
    */

    /* 
    NADPISY 
    */

h1 {
    font-family: "Georgia";
    color: #4D6873;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-family: "Georgia";
    color: black;
    padding: 30px;
    text-align: center;
}
    /* 
    FLEX 
    */

.flex-container {
    display: flex;
}
    /* 
    ODSTAVCE 
    */

p {
    font-family: "Helvetica";
    color: black;
    padding: 30px;
    text-align: center;
}
    /* 
    OBRAZKY 
    */

img {
    display: block;
    border: solid black;
    width: 40%;
}

.row {
    flex-direction: row;
}

aside {
    padding: 30px;
    text-align: justify;
}

    /* 
    SEZNAM
     */

ul {
    list-style: none;
}
    /* 
    ODKAZ 
    */
a {
    color: red;
}
    /*
     TADY ZAČÍNA FOOTER 
    */
footer {
    font-family: "Georgia";
    color: #253237;
    font-size: 15px;
    text-align: left;
    padding: 30px;
}