.loginFalse {
    text-align: center;
    padding-top: 300px;
}

.loginTrue {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
}

button {
    font-size: 17px;
    background: #f6b93b;
    border-color: #f6b93b;
}

input {
    font-size: 20px;
    background: #f6b93b;
    border-color: #f6b93b;
}


::placeholder {
    color: #666462;
}

.loginTrue {
    text-align: center;
    padding-top: 300px;
    font-size: 50px;
}

.wrongText {
    font-size: 17px;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}








