html {
    background-color: darkgray;
}

h1 {
    font-family: "Georgia";
    color: #4D6873;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-family: "Georgia";
    color: #4D6873;
    display: flex;
    justify-content: flex-end;
}

h3 {
    font-family: "Georgia";
    color: black;
    padding: 30px;
}
 
p {
    font-family: "Helvetica";
    color: black;
    padding: 30px;
    text-align: center;
}

img {
    display: block;
    border: solid black;
    width: 40%;
}

footer {
    font-family: "Georgia";
    color: #253237;
    font-size: 15px;
    text-align: left;
}

.flex-container {
    display: flex;
}

.row {
    flex-direction: row;
}

aside {
    padding: 30px;
    text-align: justify;
}

footer {
    padding:30px;
}

ul {
    list-style: none;
}
