.kalkulacka {
    text-align:center;
    padding-top: 270px;
}

button {
    font-size: 20px;
    border-radius: 30%;
    background-color: white;
}

button:hover {
    background-color: lightgrey;
}

.vysledek {
    font-size: 20px;
}

input {
    border-width: 2px;
    border-style: solid;
    border-color: #383736;
    font-size: 17px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

