h1 {
    font-family:"Arial Black", Gadget, sans-serif;
    font-size: 33px;
    color:#575554;
}

h2 {
    font-size: 20px;
}

body {
    background-color: #e9ecef;

}

.text {
    padding: 20px;
}

p {
    width:50%;
}